.button {
    display: block;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $main-color;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }

    &_submit {
        width: 300px;
        height: 55px;
        font-size: 16px;
    }

    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}